only-built-dependencies[]=appium
only-built-dependencies[]=appium-chromedriver
only-built-dependencies[]=edgedriver
only-built-dependencies[]=esbuild
only-built-dependencies[]=geckodriver
only-built-dependencies[]=sharp
